@model IEnumerable<CarDealer.Models.EntityModels.Customer>

@{
    ViewBag.Title = "All";
}

<h2>All</h2>
<br />
@Html.ActionLink("Add customer", "Add")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsYoungDriver)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsYoungDriver)
        </td>
    </tr>
}

</table>
