@model CarDealer.Models.ViewModels.CustomerTotalSalesViewModel

<h3>@Html.DisplayNameFor(model => model.Name)</h3>
<br />
<p>@Html.DisplayFor(model => model.Name)</p>
<br />
<h3>@Html.DisplayNameFor(model => model.CarsCount)</h3>
<br />
<p>@Html.DisplayFor(model => model.CarsCount)</p>
<br />
<h3>@Html.DisplayNameFor(model => model.SpentMoney)</h3>
<br />
<p>@Html.DisplayFor(model => model.SpentMoney)</p>
