@model CarDealer.Models.ViewModels.SaleViewModel

<h2>Sale info</h2>
<br />
<h4><strong>@Html.DisplayNameFor(model => model.Car.Make)</strong> : @Html.DisplayFor(model => model.Car.Make)</h4>
<h4><strong>@Html.DisplayNameFor(model => model.Car.Model)</strong> : @Html.DisplayFor(model => model.Car.Model)</h4>
<h4><strong>@Html.DisplayNameFor(model => model.Customer)</strong> : @Html.DisplayFor(model => model.Customer)</h4>
<h4><strong>@Html.DisplayNameFor(model => model.Price)</strong> : @Html.DisplayFor(model => model.Price)</h4>
<h4><strong>@Html.DisplayNameFor(model => model.Discount)</strong> : @Html.DisplayFor(model => model.Discount)</h4>
