@model IEnumerable<CarDealer.Models.ViewModels.SaleViewModel>
<h2>Discounted</h2>

<p>
    @Html.ActionLink("Add sale", "Add")
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.Label("Car")
        </th>
        <th>
            @Html.Label("Sold to")
        </th>
        <th>
            @Html.DisplayNameFor(item => item.Price)
        </th>
        <th>
            @Html.DisplayNameFor(item => item.Discount)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Make) - @Html.DisplayFor(modelItem => item.Car.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
        </tr>
    }

</table>
